 .menubar {
 
 	background-color: #708090;
 	width: 45px;
 	height: 100%;
 	position: fixed;
  z-index: 1000;	
 
 }
 .menuBtn{
 	width: 45px;
 	height: 45px;	
 	text-align: center;
 }
  .menuBtn:hover {
    background-color: #7f8f9f;
  }
 .menuBtn span {
 	font-size: 30px;
 	cursor: pointer;
 }
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #708090;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 55px;
}
.menubarItems {

	list-style-type:none;
}
.sidenav span {
    width: 180px;
  height: 45px; 
  margin-left: 20px ;
  padding : px;
  font-size: 1em;
  color: #afafaf;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  left:70px;
  top: -5px;
  right: 20px;
  font-size: 36px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}